{% include base_path.html %}

{% comment %}
  Display syllabus in tabular form.
  Days are displayed if at least one episode has 'start = true'.
{% endcomment %}

{% include manual_episode_order.html %}

<div class="syllabus">
  <h2 id="schedule">Schedule</h2>

  {% assign lesson_number = 0 %}
  {% assign week = 0 %}
  {% for lesson_episode in lesson_episodes %}
    {% if site.episode_order %}
      {% assign episode = site.episodes | where: "slug", lesson_episode | first %}
    {% else %}
      {% assign episode = lesson_episode %}
    {% endif %}
  {% endfor %}
  {% assign current = site.start_time %}

  <table class="table table-striped">
  <tr>
    <td class="col-md-2"></td>
    <td class="col-md-3"><a href="{{ relative_root_path }}{% link setup.md %}">Setup</a></td>
    <td class="col-md-7">Follow these steps before the first session.</td>
  </tr>
  {% for lesson_episode in lesson_episodes %}
    {% if site.episode_order %}
      {% assign episode = site.episodes | where: "slug", lesson_episode | first %}
    {% else %}
      {% assign episode = lesson_episode %}
    {% endif %}
    <tr>
      <td class="col-md-2">{% unless episode.title == "Introduction" %}{% assign week = week | plus: 1 %}Week {{ week }}{% endunless %}</td>
      <td class="col-md-3">
	<a href="{{ relative_root_path }}{{ episode.url }}">{{ episode.title }}</a>
      </td>
      <td class="col-md-7">
        {% if episode.break %}
          Break
        {% else %}
          {% if episode.questions %}
            {% for question in episode.questions %}
              {{question|markdownify|strip_html}}
              {% unless forloop.last %}
              <br/>
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>

</div>
